* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --base_red: #f2625f;
  --blanquito: #ccc;
  --base_black: #666;
  --base__white:#FFFFFF;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  min-height: 100vh;
  /* color: var(--base__white); */
  overflow: hidden;
  padding: 0 !important;
}

.container {
  /* display: none; */
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.main__button {
  z-index: 1;
  height: 40px;
  width: 155px;
  border: 1px solid var(--base_red);
  background: transparent;
  border-radius: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: ease-out 0.3s;
  outline: none;
  box-shadow: inset 0 0 0 0 var(--base_red);
  font-size: 1.4rem;
}
.main__button:hover {
  cursor: pointer;
  box-shadow: inset -300px 0 0 0 var(--base_red);
  color: white;
}
.main__button::before {
  background-color: var(--base_red);
}
.main__button .button-icon {
  background-color: var(--base_red);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.header__content--desktop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header__content--desktop .lef-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header__content--desktop .lef-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--base_black);
  border-radius: 25px;
  transition: all 0.4s ease-in-out;
}
.header__content--desktop .lef-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
  border-radius: 25px;
}
.header__content--desktop .lef-header .image img:hover {
  filter: grayscale(0);
}
.header__content--desktop .right__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12rem;
}
.header__content--desktop .right__header .header__name {
  font-size: 4rem;
}
.header__content--desktop .right__header .header__name span {
  color: var(--base_red);
}
.header__content--desktop .right__header p {
  margin: 1.5rem 0;
  line-height: 3rem;
  font-size: 1.5rem;
}

.menu__container--desktop {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.menu__container--desktop .menu__button--desktop {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--base_red);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.menu__container--desktop .menu__button--desktop i {
  font-size: 2rem;
  color: var(--base__white);
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */